albucore
albumentations
annotated-types
anyascii
beautifulsoup4
blinker
certifi
charset-normalizer
click
Cython
defusedxml
easyocr
et_xmlfile
filelock
fire
Flask
flask-cors
fonttools
fsspec
gpg
h5py
huggingface-hub
idna
imageio
itsdangerous
Jinja2
langdetect
lazy_loader
lmdb
lxml
MarkupSafe
mpmath
networkx
ninja
numpy
onnx
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
packaging
paddleocr
pandas
pdf2image
pillow
protobuf
pyclipper
pydantic
pydantic_core
pypdfium2
pytesseract
python-bidi
python-dateutil
python-doctr
python-docx
pytz
PyYAML
RapidFuzz
regex
requests
safetensors
scikit-image
scipy
setuptools
shapely
simsimd
six
soupsieve
stringzilla
sympy
termcolor
tifffile
tokenizers
torch
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
Werkzeug
wheel @ file:///opt/homebrew/Cellar/python%403.13/3.13.2/libexec/wheel-0.45.1-py3-none-any.whl#sha256
